/*
Name: 			style.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/*
Name: 			AllSlider.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
.slider {
  position: relative;
  overflow-x: hidden;
}

.slider .slider__banner {
  transition: transform 0.5s, margin-left 0.5s ease-out;
}

.slider .slider__banner::after {
  content: '';
  width: auto;
  display: table;
  clear: both;
}

.slider .slider__banner .slider__item {
  float: left;
  width: 100%;
}

.slider .slider__controllers .icon {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 28px;
  line-height: 1;
}

.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/***
*
====================================================================
    Global Settings
====================================================================
*
***/
html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  transition: transform 0.4s;
}

@media only screen and (max-width: 991px) {
  body.sidebar-opened {
    transform: translateX(250px);
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.paragraph {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

.act-table {
  display: table;
}

.act-table-cell {
  display: table-cell;
}

.vertical-center {
  vertical-align: middle;
}

.vertical-top {
  vertical-align: top;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-style: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* ========== Contain Button style ========== */
.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/* ========== Button ========== */
.btn {
  border: none;
  background: none;
  line-height: 1;
  border-radius: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
  opacity: 0.9;
}

.btn-cart {
  width: 100%;
  background-color: #DC9831;
  color: #FFF;
  padding: 10px;
}

.btn-cart:hover, .btn-cart:focus {
  color: #FFF;
}

.toggle-search-btn {
  color: #a4abae;
}

/* ========== Contain Forms style ========== */
.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/* ========== Forms ========== */
input, textarea {
  padding: 10px;
}

input:focus, textarea:focus {
  outline: none;
}

/* ========== Contain Accordion style ========== */
.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/* ========== Accordion ========== */
.accordion .accordion__container .accordion__item:not(:last-child) {
  margin-bottom: 20px;
}

.accordion .accordion__container .accordion__item {
  position: relative;
}

.accordion .accordion__container .accordion__item .accordion__btn {
  position: absolute;
  right: 0;
  top: 0;
  opacity: .7;
  font-size: 14px;
  line-height: 1;
}

.accordion .accordion__container .accordion__item .accordion__btn .icon-minus {
  display: none;
}

.accordion .accordion__container .accordion__item .accordion__header .accordion__title {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.accordion .accordion__container .accordion__item .accordion__header .accordion__title .status {
  position: relative;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  padding: 0 4px;
  background-color: #000;
  color: #FFF;
  border-radius: 2px;
  font-size: 8px;
  line-height: 14px;
}

.accordion .accordion__container .accordion__item .accordion__header .accordion__title .status::before {
  content: '';
  border-right: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -4px;
}

.accordion .accordion__container .accordion__item .accordion__header .accordion__title .status.red {
  background-color: #eb2771;
}

.accordion .accordion__container .accordion__item .accordion__header .accordion__title .status.red::before {
  border-right: 4px solid #eb2771;
}

.accordion .accordion__container .accordion__item .accordion__header .accordion__title .status.green {
  background-color: #0cc485;
}

.accordion .accordion__container .accordion__item .accordion__header .accordion__title .status.green::before {
  border-right: 4px solid #0cc485;
}

.accordion .accordion__container .accordion__item .accordion__body {
  padding-left: 15px;
  display: none;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}

.accordion .accordion__container .accordion__item .accordion__body .list-items .list-item {
  margin-bottom: 15px;
}

.accordion .accordion__container .accordion__item .accordion__body .list-items .list-item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-left: 5px solid #535360;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-right: 6px;
  opacity: 0.5;
}

.accordion .accordion__container .accordion__item .accordion__body .list-items .list-item:hover::before {
  opacity: 1;
}

.accordion .accordion__container .accordion__item.active .accordion__btn .icon-plus {
  display: none;
}

.accordion .accordion__container .accordion__item.active .accordion__btn .icon-minus {
  display: block;
}

.accordion .accordion__container .accordion__item.active .accordion__body {
  transition: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.accordion .accordion__container .accordion__item:hover .accordion__btn {
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .accordion .accordion__container .accordion__item {
    color: #FFF;
  }
  .accordion .accordion__container .accordion__item .accordion__btn {
    color: inherit;
  }
  .accordion .accordion__container .accordion__item .accordion__body .list-items .list-item::before {
    border-left: 5px solid #FFF;
  }
}

/* ========== Contain Sliders style ========== */
.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/* ========== Sliders ========== */
.main-slider .slider__item .ratio-inner {
  position: relative;
}

.main-slider .slider__item .ratio-inner .content {
  position: absolute;
  left: 8%;
  top: 30%;
}

.main-slider .slider__item .ratio-inner .content .slider__title {
  font-size: 26px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  margin: 0 0 50px;
}

.main-slider .slider__item .ratio-inner .content .btn__slider {
  color: #7e6f5c;
  font-size: 13px;
  font-weight: 500;
}

.main-slider .slider__item .ratio-inner .content .btn__slider:hover {
  text-decoration: underline;
}

.main-slider .slider__item .ratio-inner img {
  width: 100%;
}

.main-slider .slider__controllers {
  position: absolute;
  bottom: 30px;
  left: 8%;
}

/* ========== Contain Header style ========== */
.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/* ========== Header ========== */
.main-header {
  padding: 20px 0;
  color: #a4abae;
  font-size: 12px;
}

.main-header .container {
  display: flex;
  align-items: center;
}

.main-header .header__logo {
  width: 100px;
  margin-right: 20px;
}

.main-header .list-holder {
  position: relative;
}

.main-header .list-holder .selected-item .icon {
  margin-left: 5px;
  vertical-align: top;
}

.main-header .list-holder .list-items {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  padding: 5px 0;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

.main-header .list-holder .list-items .list-item a {
  display: block;
  padding: 2px 8px 1px;
}

.main-header .list-holder .list-items .list-item a:hover {
  background-color: #CCC;
  color: #FFF;
}

.main-header .list-holder .list-items .list-item.active a {
  background-color: #CCC;
  color: #FFF;
}

.main-header .list-holder.header__lang__dropdown, .main-header .list-holder.header__currency__dropdown {
  margin-right: 20px;
}

.main-header .list-holder:hover .list-items {
  opacity: 1;
  visibility: visible;
}

.main-header .header__search {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
}

.main-header .header__search .toggle-search-btn {
  display: none;
}

.main-header .header__search input {
  width: 100%;
  border: 1px solid #CCC;
  height: 45px;
  line-height: 25px;
  padding-right: 35px;
}

.main-header .header__search .submit-btn {
  position: absolute;
  top: 13px;
  right: 13px;
  color: #333;
}

.main-header .header__right__side {
  display: flex;
  position: absolute;
  align-items: center;
  right: 16%;
}

.main-header .header__right__side .header__signin-btn,
.main-header .header__right__side .header__cart {
  margin-right: 20px;
}

.main-header .header__right__side .header__other__links .icon {
  color: #333;
  font-size: 18px;
}

.main-header .header__right__side .header__cart .cart-count {
  position: absolute;
  top: -4px;
  right: 27px;
  color: #DC9831;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

.main-header .header__right__side .header__cart .icon {
  color: #333;
  font-size: 18px;
}

.main-header .header__right__side .header__cart .cart-content {
  position: absolute;
  top: 140%;
  right: 6px;
  padding: 10px;
  display: none;
  width: 250px;
  background-color: #FFF;
  border: 1px solid #eee;
}

.main-header .header__right__side .header__cart .cart-content .no-content {
  display: none;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item:last-child {
  margin-bottom: 0;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-img-cell {
  width: 78px;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell {
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  text-align: start;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell .item-title {
  font-size: 15px;
  font-weight: 400;
  color: #a4abae;
  margin-top: 0;
  margin-bottom: 10px;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell .item-title:hover {
  color: #333;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell .paragraph {
  color: #333;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell .paragraph .space {
  margin: 0 5px;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell .close-btn .icon {
  font-size: 12px;
  color: #a4abae;
}

.main-header .header__right__side .header__cart .cart-content .cart-items .items-list .item .item-content-cell .close-btn .icon:hover {
  color: #333;
}

.main-header .header__right__side .header__cart .cart-content .cart-footer {
  padding-top: 10px;
}

.main-header .header__right__side .header__cart .cart-content .cart-footer .cart-total {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.main-header .header__right__side .header__cart .cart-content .cart-footer .action:first-child {
  padding-right: 5px;
}

.main-header .header__right__side .header__cart .cart-content::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  right: 24px;
  border-bottom: 10px solid #FFF;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.main-header .header__right__side .header__cart .cart-content::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  right: 24px;
  margin-bottom: 1px;
  border-bottom: 11px solid #eee;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
}

.main-header .header__right__side .header__cart:hover .cart-content {
  display: block;
}

.main-header .header__right__side .header__other__links .list-items {
  width: 100px;
  left: auto;
  right: -10px;
}

@media (min-width: 992px) {
  .main-header .header__right__side .category-slider-btn {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .main-header {
    padding: 50px 0;
  }
  .main-header .container > .header__currency__dropdown,
  .main-header .container > .header__lang__dropdown {
    display: none;
  }
  .main-header .header__search {
    position: relative;
    top: 0;
    left: 65%;
    width: auto;
    margin-left: 0;
  }
  .main-header .header__search .toggle-search-btn {
    display: block;
  }
  .main-header .header__search form {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    margin-top: 10px;
  }
  .main-header .header__search form::before {
    content: '';
    display: block;
    border-bottom: 10px solid #CCC;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 100%;
    right: 5px;
  }
  .main-header .header__search form::after {
    content: '';
    display: block;
    border-bottom: 10px solid #FFF;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 100%;
    right: 5px;
    margin-bottom: -1px;
  }
  .main-header .header__search.active form {
    display: block;
  }
  .main-header .header__right__side {
    right: 10%;
  }
  .main-header .header__right__side .header__signin-btn,
  .main-header .header__right__side .header__other__links {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .main-header .header__search {
    left: 35%;
  }
  .main-header .header__search form {
    width: 180px;
    right: -50px;
  }
  .main-header .header__search form::before {
    right: 45px;
  }
  .main-header .header__search form::after {
    right: 45px;
  }
  .main-header .header__right__side {
    right: 7%;
  }
}

/* ========== Contain Navbar style ========== */
.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/* ========== Navbar ========== */
.small-nav {
  width: 100%;
  background-color: #262634;
  display: none;
}

.small-nav .container-fluid {
  display: flex;
  justify-content: space-between;
}

.small-nav .nav__left__side,
.small-nav .nav__right__side .list-items {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .small-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
  }
  .small-nav .nav__right__side .selected-item {
    display: none;
  }
  .small-nav .nav__right__side .list-items .list-item:not(:last-child) {
    margin-right: 15px;
  }
}

/* ========== Contain Sidebar style ========== */
.black {
  color: #000;
}

/* Responsive */
.black {
  color: #000;
}

/* ========== Sidebar ========== */
.sidebar {
  background-color: #f8f8f8;
  padding: 20px 30px;
}

.sidebar .sidebar__header .sidebar__header__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
}

/* category sidebar */
@media only screen and (max-width: 991px) {
  .category-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #151515;
    padding: 25px;
  }
  .category-sidebar .overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
  }
  .category-sidebar .sidebar__header {
    display: none;
  }
  .category-sidebar.active .overlay {
    opacity: 1;
    visibility: visible;
  }
}
